[package]
name = "charsub"
version = "0.1.0"
authors = ["Skarlett <zykl@protonmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "charsub"

[dependencies]
smallvec = "*"
